.hero-image img {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.destination-card:hover {
  transform: translateY(-8px);
  transition: 0.3s ease;
}

/* FADE IN */

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }

}

/* SCROLL REVEAL */

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}